<p id="notice"><%= notice %></p>

<h1>Videos</h1>
<div class="content-wrapper video">
  <span>Select client</span>
  <%= collection_select(:name, :id, @clients, :id, :name, {:include_blank => true }) %>

<!--   <div class="media-wrapper">
    <div id="media-container"></div>
  </div> -->

  <video id="camcorder" class="" autoplay></video>

  <div class="buttons">
    <button id="recordButton" class="btn btn-primary">Record</button>
    <button id="stopButton" class="btn btn-warning">Stop</button>
    <img class="loading-indicator" src="ajax-loader.gif"></img>
  </div>
</div>

<br>