/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "scaffolds";
@import "clients";
@import "videos";

body {
  padding-top: 350px;
  padding-bottom: 20px;
  background-image: url("/contentPage_bg.jpg");
  background-repeat: repeat-x;
  background-position: center 0px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.container {
  width: 820px;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 100%;
  position: relative;
}

.content-wrapper {
  width: 820px;
  height: 497px;
  background-image: url("/media-wall-bg.jpg");
  padding: 4%;
  position: relative;
  padding-top: 25px;
}

.site-footer {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 20px;
  padding-top: 50px;
}